body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: yellow
}
.contenedor{
    padding-left: 16%;
    padding-right: 16%;
}
.header{
    height: 15%;
}
.borde_negro{
    background-color: #000000;
    height: 3vw;
}
.logo_combo_express{
    float: left;
    margin-top: 10px;
}
.telefono{
    margin-top: 1vw;
}
.botones_contacto{
    float: left;
    margin-left: 3.6%;
}
.fondo_detalle{
    height: 766px;
    background-image: url("/img/combo-express/fondo_detalle.png");
    background-repeat: repeat-x;
    text-align: center;
}
.footer{
    height: 330px;
    background-image: url("/img/combo-express/footer.png");
    background-repeat: repeat-x;
}
.linea_productos{
    float: left;
    width: 100%;
}
.delivery{
    margin-top: 17vh;
    position: absolute;
    right: 16vw;
}
.izquierda{
    margin-right: 2vw;
}
.derecha{
    margin-left: 2vw;
}
.header {
    height: 15%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
@-moz-document url-prefix() {
    .box {
        width: 100%;
        -moz-box-sizing: border-box;
    }
}
.nuestra_empresa{
    background-color: #ffff00;
    border: 7px solid #ffffff;
    border-radius: 30px;
    float: left;
    font-family: arial;
    font-size: 100%;
    height: 90%;
    margin-top: 3%;
    padding-left: 13%;
    padding-right: 13%;
    text-align: left;
    width: 72%;
}
.titulo{
    color: #ff0000;
}
.texto{
    margin-top: 5%;
}
img{
    max-width: 100%;
}
@media (max-width: 1000px) {
    .botones_contacto{
        float: left;
        text-align: center;
    }
    .fondo_detalle{
        height: 242vw;
        background-image: url("/img/combo-express/fondo_detalle.png");
        background-repeat: repeat-x;
        text-align: center;
    }
}
/* Portrait el alto es mayor que el ancho*//*
@media screen and (orientation:portrait) {
    *//* Portrait styles *//*
}*/
/* Landscape el alto es menor que el ancho*/
/*@media screen and (orientation:landscape) {
    *//* Landscape styles *//*
    body{
        background-color: red;
    }
}*/
