html {
    background-color: #FFFFFF;
    background-image: url("../img/bloque-fondo-blanco.gif");

}
#main {
    background: none;
    width: 908px;
    height: 520px;
    background-color: #FFFFFF;
    padding-top: 16px;
}

#wrapper {
    width: 908px;
}

#bloque_contenido {
    width: 908px;
    left: 0px;
}