#link_reportes_contenidos {
    color: #000000;
    background: url("../img/background_menu_button_hover.png") no-repeat;
}

.col1 {
    margin-left: 15%;
}

table, tr, td, th, thead, tfoot, tbody {
    margin:0;
    padding: 0;
    border: none;
}
.tabla_reporte {
    font-family: Arial;
    font-size: 10px;
    border-spacing: 0px;
    /*margin-left: 3%;*/
    margin-top: 20px;

}

.tabla_reporte th, .tabla_reporte td {
    border: 1px solid #333333;
    border-right: none;
    border-top: none;
}

th.borde_arriba, td.borde_arriba {
    border-top: 1px solid #333333;
}

th.borde_derecha, td.borde_derecha {
    border-right: 1px solid #333333;
}

.fondo_naranja {
    background-color: #ffd548;
}

.dia_actual {
    background-color: #fffaa6;
}

th.totales {
    
    width: 80px;
    background-color: #ffd548;
    font-weight: bold;
    height: 20px;
}

.porcentaje {
    min-width: 60px;
    width: 60px;
}

.alias {
    min-width: 70px;
    width: 70px;
    text-align: center;
    font-weight: bold;
}

.suscriptos {
    min-width: 50px;
    width: 50px;
    text-align: center;
    font-weight: bold;
}

.descripcion_cobro {
    min-width: 90px;
    width: 90px;
    text-align: right;
    padding-right: 3px;
}

.celda_cliente {
    background-color: #ffdead;
}

.celda_vacia {
    empty-cells:hide;
}

td.celda_total, th.celda_total {
    font-weight: bold;
    font-size: 11px;
}

.separador {
    background-color: #b0b0ae;
}

.numero {
    text-align: right;
    padding-right: 2px;
    height: 20px;

}

td.dia_semana {
    font-weight: bold;
    font-size:  8px;
    text-align: center;
}

td.dia_envio {
    background-color: #d0eb85;
}

.numero_porcentaje {
    text-align: center;
    font-size:  14px;
    height: 20px;
    font-weight: bold;
}

.monto_gs {
    text-align: right;
    padding-right: 2px;
    height: 20px;
}

#bloque_mes {
    margin-top: 20px;
    /*margin-left: 3%;*/
    font-weight: bold;
    font-family: Arial;
}
#bloque_mes select {
    background-color: #ffd548;
    border: 1px solid #ffd548;
    
    width: 150px;
    font-family: Arial;
}
.fondo_rojo {

    background-color: #ff0000;
}
.fondo_amarillo {

    background-color: yellow;
}