body{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}
body, html {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000000;
}
.tvchat_screen{
    width: 800px;
    height: 600px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    background-image: url("/img/tvchat/tvchat_tira_fondo.png");
}
/*Secciones*/
.titulo{
    width: 800px;
    height: 167px;
}
.luces{
    background-image: url("/img/luces.gif");
    background-repeat: repeat-x;
    height: 12px;
    width: 800px;
}
.interactive{
    width: 800px;
    height: 365px;
    padding-bottom: 1px;
    padding-top: 0px;
}
.juegos{
    width: 360px;
    height: 357px;
    float: left;
    margin-left: 25px;
}
.conductora{
    width: 387px;
    height: 358px;
    float:left;
    /*background-color: #ffffff;*/
    border: 1px white dotted;
    margin-right: 25px;
}
.tvchat{
    width: 800px;
    height: 30px;
    background-image: url("/img/tira_fondo_tvchat.jpg");
    background-repeat: repeat-x;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #ffff00;
    margin-bottom: 2px;
}
#ventana {
    position: relative;
    width: 800px;
    position: relative;
}
.scrollingtext {
    color: #ffffff;
    white-space:nowrap;
    position:absolute;
    font-size: 14px;
    font-style: oblique;
}
.static-text {
    position: absolute;
    z-index: 50;
    font-weight: bold;
    width: 240px;
    height: 30px;
}
#scroller {
    background-color: #B22222;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
}
.tvchat_logo{
    background-image: url("/img/tira_fondo_tvchat_logo.png");
    background-repeat: repeat-x;
    width: 210px;
    height: 30px;
    margin: 0;
    float:left
}
.tvchat_logo_detalle_derecha{
    width: 30px;
    height: 30px;
    margin-right: 0;
    float:left
}
.tvchat_logo img{
    margin-top: 3px;
    margin-left: 26px;
}
.marquee{
    font-family: arial;
    font-weight: bold;
    width: 674px;
}
.jugar_izquierda{
    float: left;
}
.logo_afortunado{
    float: left;
}
.jugar_derecha{
    float: left;
}
.jugar_izquierda img{
    position: absolute;
    z-index:1;
}
.logo_afortunado img{
    position: absolute;
    z-index:2;
    margin-left: 230px;
}
.jugar_derecha img{
    position: absolute;
    z-index:1;
    margin-left: 562px;
}
.costo{
    color: white;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    height: 7px;
    margin-left: 90px;
    margin-top: 6px;
}
#numeros_sorteados{
    margin-left: 50px;
}
.numero_ganador{
    background: none repeat scroll 0 0 black;
    border-collapse: collapse;
    border-color: black;
    float: left;
    height: 40px;
    margin-left: 1px;
    margin-top: 10px;
    width: 40px;
}
.numero{
    color: #ff0000;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    margin: 3px 10px 10px;
}
.tragamonedas_wrapper{
    width: 360px;
    height: 360px;
    background-image: url("/img/tragamonedas_masking.png");
    position:absolute;
    background-repeat: no-repeat;
    margin-top: 22px;
}
.tragamonedas_tiras{
    background-image: url("/img/tragamonedas_tiras.png");
    height: 128px;
    margin-left: 30px;
    margin-top: 79px;
    width: 288px;
}
.tragamonedas_numeros_ganadores{
    background-image: url("/img/tragamonedas_numero_ganador.png");
    height: 73px;
    margin-left: 56px;
    margin-top: 10px;
    position: absolute;
    width: 238px;
}
.linea_ganadora{
    background-image: url("/img/tragamonedas_linea_ganadora.png");
    height: 64px;
    margin-left: 5px;
    margin-top: 5px;
    width: 228px;
}
.premio{
    color: #ffff00;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 2px;
    margin-left: 40px;
    margin-top: 20px;
    position: absolute;
}
.linea{
    color: #ff0000;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 2px;
    margin-left: 19px;
    margin-top: 44px;
    position: absolute;
}
.tragamonedas_titulo{
    margin-left: 50px;
    margin-top: 42px;
    position: absolute;
}
.tragamonedas_luces_verticales_izq{
    background-image: url("/img/tragamonedas_luces_verticales_izquierda.gif");
    background-repeat: no-repeat;
    height: 167px;
    margin-left: 4px;
    margin-top: 63px;
    position: absolute;
    width: 38px;
}
.tragamonedas_luces_verticales_der{
    background-image: url("/img/tragamonedas_luces_verticales_derecha.gif");
    background-repeat: no-repeat;
    height: 167px;
    margin-left: 319px;
    margin-top: 63px;
    position: absolute;
    width: 38px;
}
.tira1{
    background-color: #ffffff;
    float: left;
    height: 89px;
    margin-left: 8px;
    margin-top: 18px;
    width: 89px;
}
.tira2{
    background-color: #ffffff;
    float: left;
    height: 89px;
    margin-left: 2px;
    margin-top: 18px;
    width: 89px;
}
.tira3 {
    background-color: #ffffff;
    float: left;
    height: 89px;
    margin-left: 2px;
    margin-top: 18px;
    width: 89px;
}
.tragamonedas_luces_horizontales_arriba{
    background-image: url("/img/tragamonedas_luces_horizontales.gif");
    background-repeat: repeat-x;
    height: 5px;
    margin-left: 8px;
    margin-top: 8px;
    position: absolute;
    width: 272px;
}
.tragamonedas_luces_horizontales_abajo{
    background-image: url("/img/tragamonedas_luces_horizontales.gif");
    background-repeat: repeat-x;
    height: 5px;
    margin-left: 8px;
    margin-top: 116px;
    position: absolute;
    width: 272px;
}
div.roulette-inner {
    left : 10px;
}
/*para la ruleta de la izquierda*/
div.roulette1 {
    margin-top: 10px;
}
/*para la ruleta de la centro*/
div.roulette2 {
    margin-top: 10px;
}
/*para la ruleta de la derecha*/
div.roulette3 {
    margin-top: 10px;
}

/*tombola*/
.tombola_wrapper{
    width: 300px;
    height: 300px;
    background-image: url("/img/tombola_contenedor.png");
    position:absolute;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.tombola_numeros_ganadores{
    background-image: url("/img/tombola_numeros_ganadores.png");
    height: 59px;
    margin-left: 52px;
    margin-top: 291px;
    position: absolute;
    width: 193px;
}
.tombola_luces{
    background-image: url("/img/tombola_luces.gif");
    height: 56px;
    margin-left: 86px;
    margin-top: -14px;
    position: absolute;
    width: 127px;
    z-index: 2;
}
.tombola_aguja{
    background-image: url("/img/tombola_aguja.png");
    height: 47px;
    margin-left: 133px;
    margin-top: 26px;
    position: absolute;
    width: 35px;
    z-index: 1;
}
.tombola_circulo_central{
    background-image: url("/img/tombola_circulo_central.png");
    height: 54px;
    margin-left: 125px;
    margin-top: 134px;
    position: absolute;
    width: 53px;
    z-index: 56;
}
.numeros_sorteados{
    float: left;
    color: red;
    font: bold;
}
.mensaje_wrapper{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
}
.centrar{
    text-align: center;
}
.premio_tombola{
    color: red;
    font-family: arial;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 10px;
}
.linea_tombola{
    color: yellow;
    font-family: arial;
    font-weight: bold;
    margin-left: 11px;
    margin-top: 2px;
}
.tombola_panel_ganador{
    margin-left: 15px;
}
.tombola_wheel_wrapper{
    margin-left: 20px;
}