body{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}
body, html {
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    background-color: green;
}
.marquee {
    width: 227px;
    overflow: hidden;
    border: 1px solid black;
    background: black;
    color: #ffff00;
    font-family: arial;
    font-weight: bold;
}
.ver {
    height: 318px;
    width: 227px;
}
.tvhot_mensajero{
    width: 227px;
    height: 318px;
    background: #000000;
    margin-left: 436px;
    margin-top:154px
}
.tvhot_mensaje{
    padding-top: 4px;
    padding-bottom: 4px;
}